@model TakeHome.Models.FeedbackViewModel

@{
    ViewBag.Title = "Thank You";
}

<h2>@ViewBag.Title</h2>

@*
    - visually difficult to read the label should be bolded and the results not
        <label>First Name:</label> @Model.FirstName
    - editor-label class is not used for anything so it isn't need
*@

<fieldset>
    <div class="editor-label">
        <label>First Name: @Model.FirstName</label>
    </div>
    <div class="editor-label">
        <label>Last Name: @Model.LastName</label>
    </div>
    <div class="editor-label">
        <label>Email: @Model.Email</label>
    </div>
    <div class="editor-label">
        <label>Comments: @Model.Comments</label>
    </div>
</fieldset>
